* {
    margin: 0;
    padding: 0; }
  
    

.navbar-brand img{
    width: 200px;
}

.container img{
    width: 100%;
    padding: 30px 10px 30px 10px;    
}

.col{
    padding-top: 100px;

}

.col:hover{
    transform: scale(1.01)
}
.nav-item{
    font-size: 20px;
}


.row{
    --bs-gutter-x: 0rem;
}

.container{
    --bs-gutter-x: 0rem;
}

/* JAVASCRIPT */

.btnReserva{
    background-color: rgb(84, 49, 116);
    color: white;
}

.btnReserva:hover{
    background-color: black;
    color: white;
}

.btnConsulta{
    background-color: rgb(73, 86, 120);
    color: white;
}

.btnConsulta:hover{
    background-color: black;
    color: white;
}
.cont {
    background-color: rgb(57, 62, 65);
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cont img{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.precioMotos {
    background: radial-gradient(90% 50% at 50% 50%, #6f7673 0%, #3c3d3d 100%);
    text-align: center;
    height: auto;
    padding: 30px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.precioMotos p{
    font-size:xx-large;
}

.contVaciar{
    background-color: rgb(57, 62, 65);
    text-align: center;
    padding-top: 10px;
}

.btnVaciar{
    border-radius: 5px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: grey;
    color: white;
}

.btnVaciar:hover{
    background-color: white;
    color: black;
    transform: scale(1.06)
    
}

.divReserv {
    background: radial-gradient(90% 50% at 50% 50%, #6f7673 0%, #3c3d3d 100%);
    text-align: center;
    height: auto;
    padding: 30px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}